:root {
  --background: #020617;
  --foreground: #f8fafc;
  --slate900: #0f172a;
  --slate800: #1e293b;
  --slate700: #334155;
  --slate600: #475569;
  --slate500: #64748b;
  --slate400: #94a3b8;

  /* Green */
  --green600: #15803d;
  --green500: #22c55e;
  --green400: #4ade80;
}

* {
  font-family: 'Satoshi', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn {
  outline: none;
  border: none;
  border-radius: 100%;
  background-color: var(--slate900);
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 800;
  font-size: 1em;
  user-select: none;
}

.btn:hover {
  background-color: var(--slate800);
}

.trash {
  margin-left: 12rem;
}

.clear {
  font-size: 1em;
  padding: 0.15rem;
  border-radius: 50%;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0%;
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
  transition: 0.5s ease;
}

.clear:hover {
  transform: scale(1.2);
  color: var(--green500) !important;
}

.result {
  background-color: var(--green600);
}

.result:hover {
  background-color: var(--green500);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.main__text {
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: 2.5em;
}

.calculator__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  padding: 1rem;
  background-color: var(--background);
  border: 3px solid var(--slate400);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.footer__text {
  margin-top: 2.5rem;
  font-size: 1.25em;
  font-weight: 400;
  user-select: none;
}

.calculator__output {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border-radius: 3px;
  text-align: right;
  border: none;
  background-color: var(--slate900);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

input {
  font-weight: 800;
}

@media (max-width: 400px) {
  .main__text {
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .main__text {
    font-size: 1.75em;
  }
}
